* {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
	margin: 0px;
	padding: 0px;
}

body {
	font-size: 16px;
	font-family: $font-lato;
	color: $dark-grey;
}

ul {
	list-style: none;
	padding-left: 0px;
}

.clear {
	clear: both;
}

textarea {
	border: 1px solid $light-grey;
	padding: 24px;
	@include border_radius(8px);
	width: 100%;
	font-size: 16px;
	font-family: $font-lato;

	@include placeholder {
		font-size: 16px;
		font-family: $font-lato;
		color: #283533;
		@include opacity(50)
  }
}

*:focus {
    outline: none;
}

.small_text {
	font-size: 14px;
}

.wrapper {
	max-width: 1175px; 
	width: 100%;
	margin: 0px auto;
	padding: 0px 24px;
}
