.review {
	width: 100%;

	li {
		width: 100%;
		float: left;
	}

	.review_header {
		width: 100%;
		line-height: 17px; 
		padding: 12px 0px;

		.review_header_author {
			float: left;
			color: $pink;
			font-weight: 900;
			margin-right: 12px;
		}
	}
	.review_content {
		width: 100%;
		position: relative;
		@include border_radius(8px);
		background: $light-grey;
		padding: 20px 25px;
		margin-top: 19px;
		line-height: 26px; 

		&::before {
			position: absolute;
			top: -19px;
			content: ' ';
			left: 25px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 19px 0 0 19px;
			border-color: transparent transparent transparent $light-grey;
		}
	}

	.review_footer {
	    float: left;
    	width: 100%;
		padding: 12px 0px;

		button {
			float: left;
			margin-right: 12px;
			@include button_settings();	
		}
		.review_footer_like_count {
			float: left;
  			line-height: 17px; 
  			padding: 10px 0px;
		}
		.error {
		    float: left;
    		width: 100%;
    		color: $pink;
    		font-size: 14px;
		}
	}

	.review_child {
		width: 100%;
		float: left;	
		padding-left: 112px;

		li {
			padding-top: 24px;
		}
	}

	.textarea_parent {
		float: left;
		width: 100%;
		position: relative;
		margin-top: 19px;

		&::before {
			position: absolute;
			top: -18px;
			content: ' ';
			left: 25px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 19px 0 0 19px;
			border-color: transparent transparent transparent $light-grey;
		}

		&::after {
			position: absolute;
			top: -15px;
			content: ' ';
			left: 26px;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 17px 0 0 17px;
			border-color: transparent transparent transparent #fff;
		}

	}

	.comment_form {
		width: 100%;

		input[type='submit'] {
			@include button_settings();
			padding: 17px 48px;
			float: right;
			margin: 12px 0px;
		}
	}

	.form_master {
		float: left;
		width: 100%;
		margin-top: 48px;

		.comment_form {
			padding-top: 12px;
		}

		.form_title {
			border-top: 2px solid $light-grey;
			text-align: center;

			span {
				position: relative;
				text-transform: uppercase;
				font-weight: 700;
				top: -13px;
				font-size: 21px;
				line-height: 26px; 
				padding: 5px 10px;
				background: #fff;
			}
		}
	}
}
.comment-error {
	color: $pink;
	font-size: 14px;
}

@media only screen and (max-width: 760px){
	.review .review_child {
	    padding-left: 36px;
	}
	.review .form_master .form_title {
		text-align: left;
		span {
			top: 24px;
			width: 100%;
			font-size: 18px;
			padding: 0px;
		}
	}
	.review .form_master .comment_form {
	    padding-top: 48px;
	}	
}

@media only screen and (max-width: 480px){
	.review .comment_form input[type='submit'].pink {
	    width: 100%;
	}	
}