$font-lato: 'Lato', Arial, sans-serif;


/** COLORS **/
$red: #d9281c;
$dark-red: #b9140f;
$light-grey: #f2f2f2;


$pink: #B61364; /** action colour, buttons, links **/
$pale-pink: #D4B9C5; /** used on the secondary button **/
$light-grey: #EDF1EE; /** used on borders **/
$dark-grey: #283533; /** default text colour **/


@mixin placeholder ($par: "&") {
  @each $prefix in "::-webkit-input-", "::-moz-", ":-ms-input-" {
    #{$par}#{$prefix}placeholder {
      @content;
    }
  }
}


@mixin border_radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
}


@mixin transition($element, $timing, $animation){
	-webkit-transition: $element $timing $animation;
	-moz-transition: $element $timing $animation;
	-o-transition: $element $timing $animation;
	transition: $element $timing $animation;
}


@mixin button_settings(){
  text-decoration: none;
  border: 1px solid $pink;
  color: $pink;
  background-color: #fff;
  padding: 8px 25px;
  line-height: 16px;
  @include border_radius(3px);
  @include transition(all, 0.2s, ease-in-out);
  text-transform: uppercase;
  font-weight: 700;

  &:hover {
    cursor: pointer;
    @include transition(all, 0.2s, ease-in-out);
    background-color: $pink;
    color: #fff;
    border: 1px solid $pink;
  }

  &.pink {
    background-color: $pink;
    color: #fff;
    border: 1px solid $pink;
  }
}


@mixin opacity($number){
	 /* IE 8 */
  	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$number})";
  	/* IE 5-7 */
  	filter: alpha(opacity=$number);
  	/* Netscape */
  	-moz-opacity: $number/100;
  	/* Safari 1.x */
  	-khtml-opacity: $number/100;
  	/* Good browsers */
  	opacity: $number/100;
}